<div class="grid-container-searchFriend">

    <div class="items1">
        <form action="/searchNewFriend" method="post">
            <div>
                <label for="search">New friend</label>
            </div>
            <div>
                <input type="hidden" name="userId" value="{{userId}}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="search" name="userName" placeholder="User name..." aria-label="Recipient's username" aria-describedby="button-addon2" required>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">search</button>
                </div>
            </div>
        </form>
    </div>
        
    <div class="items2">
        {{#if us}}
        <div class="search-box">
            {{#each us as |us key|}}
            <a href="" class="bg-dark">
                <div class="">
                    <div class="">
                        <div class="">
                            <img src="{{us.imageProfile}}" alt="{{us.name}} profile image">
                        </div>
                        <div class="">
                            <h1>{{us.name}}</h1>
                            <h3>{{us.lastName}}</h3>
                            <h3>{{us.user}}</h3>
                        </div>
                        <div class="">
                            {{#if (getConfirmationF ../ac key)}}
                                <a href="" class="btn btn-outline-success disabled">My friend :)</a>
                            {{else}}
                                <a href="/solicitude/friend/{{../userId}}/{{us.id}}" class="btn btn-success">send</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>