<div class="row m-5">
    <div class="container col-8">
        {{#each postF as |p key|}}

        <div class="ms-3 card bg-dark text-white mb-4" aria-live="assertive" aria-atomic="true">
            <div class="card-header border-dark">
                <span class="d-image">
                    <img src="{{p.author.dataValues.imageProfile}}" class="image-post" alt="{{p.author.dataValues.name}}">
                </span>
                <small class="me-auto fs-6"><strong>{{p.author.dataValues.name}}</strong></small>
                <small class="float-end fw-light text-muted">{{getDate p.createdAt}}</small>
            </div>
            <div class="card-body">
                <small class="fs-6 mt-1"></small>
                <div class="text-center mt-3">
                    <p>{{p.content}}</p>
                    <img src="{{p.src}}" class="image-post" alt="image {{p.author.dataValues.name}}">
                </div>
                <div class="mt-4">
                    <a type="button" class="btn btn-primary float-end" href="/new-comment/{{p.id}}">
                        Comentar
                    </a>
                </div>
            </div>
        </div>

        {{/each}}
    </div>


   <div class="col-4 border border-success">
        <nav>
            <div>
                <a href="/searchNewFriendHome/{{userId}}" class="btn btn-success">add new friend</a>
            </div>
            <div>
                <ul class="nav flex-column">
                    <h1>Friends</h1>
                    {{#each userF as |uf key|}}
                        <li class="nav-item m-3">
                        <div class="row">
                                <div class="col-8">
                                    <a href="">
                                        <img src="{{uf.imageProfile}}" alt="profile {{uf.name}}" class="rounded-circle" width="50" height="50"> {{uf.name}} {{uf.lastName}} ({{uf.user}})
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="/delete/friend/{{../userId}}/{{uf.id}}" class="btn btn-danger">Delete</a>
                                    {{!-- confirmation in the frontend with a modal --}}
                                </div>
                            </div>      
                        </li>
                    {{/each}}
                </ul>
            </div>
        </nav>
    </div>
</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> 
