<div class="grid-container">

    <div class="grid-item0"> 
        <div class="">
            <a href="#allFriends" class="SeeAllYourFriend">Todos mis amigos</a>
        </div>
        <div class="">
            <a href="/searchNewFriendHome/{{userId}}" class="searchNewFriend">Agregar a un nuevo amigo</a>
        </div>
    </div>
    
    <div class="grid-item1">
        <div class="box-center">
            {{#each postF as |p key|}}
            {{!-- post --}}
            <div class="post-box" aria-live="assertive" aria-atomic="true">
                <div class="box-header border-dark">
                    <span class="d-image">
                        <img src="{{p.author.dataValues.imageProfile}}" class="image-post" alt="{{p.author.dataValues.name}}">
                    </span>
                    <small class="me-auto fs-6"><strong>{{p.author.dataValues.name}} {{p.author.dataValues.lastName}}</strong></small>
                    <small class="float-end fw-light text-muted">{{getDate p.createdAt}}</small>
                </div>
                <div class="box-body">
                    <small class="fs-6 mt-1"></small>
                    <div class="">
                        <p>{{p.content}}</p>
                        {{#if (getConfirmationF ../imgConfirmation key)}}
                            <img src="{{p.src}}" alt="image {{p.author.dataValues.name}}">
                        {{/if}}
                    </div>
                </div>
                <div class="box-footer">
                    <a type="button" class="btn btn-primary float-end" href="/new-comment/{{p.id}}">
                        Comentar
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    
   <div class="grid-item2" id="allFriends">
        <h1>Mis amigos</h1>
        <hr>
        <div class="friendList">
            <ul class="">
                {{#each userF as |uf key|}}
                <li>
                    <div class="imgNameButton">
                        <a href="">    
                            <div class="imgName">
                                    <img src="{{uf.imageProfile}}" alt="profile {{uf.name}}" class="imgFriendList"> 
                                    <p>
                                        {{uf.name}} {{uf.lastName}}
                                    </p>
                            </div>
                        </a>
                        <div class="">
                            <a type="submit" class="btn btn-info" onclick="ShowAlert('/delete/friend/{{../userId}}/{{uf.id}}', '{{uf.name}} ya no es tu amigo', 'Quieres eliminar a {{uf.name}} de tu lista de amigos?')"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>      
                </li>
                {{/each}}
            </ul>
        </div>    
        <div class="">
            <a href="/searchNewFriendHome/{{userId}}" class="searchNewFriend">Agregar a un nuevo amigo</a>
        </div>
    </div>
</div>