<div class="">
    <div class="box-center">
        {{#each postF as |p key|}}
        {{!-- post --}}
        <div class="post-box" aria-live="assertive" aria-atomic="true">
            <div class="box-header border-dark">
                <span class="d-image">
                    <img src="{{p.author.dataValues.imageProfile}}" class="image-post" alt="{{p.author.dataValues.name}}">
                </span>
                <small class="me-auto fs-6"><strong>{{p.author.dataValues.name}}</strong></small>
                <small class="float-end fw-light text-muted">{{getDate p.createdAt}}</small>
            </div>
            <div class="box-body">
                <small class="fs-6 mt-1"></small>
                <div class="">
                    <p>{{p.content}}</p>
                    {{#if (getConfirmationF ../imgConfirmation key)}}
                        <img src="{{p.src}}" alt="image {{p.author.dataValues.name}}">
                    {{/if}}
                </div>
            </div>
            <div class="box-footer">
                <a type="button" class="btn btn-primary float-end" href="/new-comment/{{p.id}}">
                    Comentar
                </a>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- finished that shit --}}

   {{!-- <div class="col-4 border border-success">
        <nav>
            <div>
                <a href="/searchNewFriendHome/{{userId}}" class="btn btn-success">add new friend</a>
            </div>
            <div>
                <ul class="nav flex-column">
                    <h1>Your Friends</h1>
                    {{#each userF as |uf key|}}
                        <li class="nav-item m-3">
                        <div class="row">
                                <div class="col-8">
                                    <a href="">
                                        <img src="{{uf.imageProfile}}" alt="profile {{uf.name}}" class="rounded-circle" width="50" height="50"> {{uf.name}} {{uf.lastName}}
                                    </a>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteF{{../userId}}">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>      
                        </li>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteF{{../userId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="/delete/friend/{{../userId}}/{{uf.id}}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                        </div> 
                    {{/each}}
                </ul>
            </div>
        </nav>
    </div> --}}
</div>

