<main>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <section class="text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold text-primary mt-4">Guests List</h1>
                <p class="lead text-white">Welcome to the guest list for this event, where you can see the invited
                    friends along with their personal information, their responses to your invitation, and much more.
                </p>
                <p>
                    <a type="button" class="btn btn-light mt-2" href="/events-created"><i
                            class="bi bi-arrow-left-circle-fill"></i>
                        Events created</a>
                </p>
            </div>
        </div>
    </section>

    <div class="container container-content text-center p-5">
        <div class="row">
            <div class=" col-md-10 mx-auto">
                <div class="container pt-5 p-5 bg-dark rounded-3">
                    <table id="table-invited" class=" table table-dark table-hover">

                        <div class="d-flex justify-content-between mb-3 text-dark">
                            <h2 class="text-white">{{event.name}}🗓️</h2>
                            <a type="button" class="btn btn-primary text-light mt-2 mb-2"
                                href="/add-invited/{{user.id}}/{{event.id}}?viewInvited=true"><i
                                    class="fa-solid fa-circle-plus"></i>
                                Add guest</a>
                        </div>


                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Las Name</td>
                                <th>User</td>
                                <th>Answer</td>
                                <th>Delete</td>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each invitedUsers as |invited|}}
                            {{#each invited.eventRequests as |receptor|}}
                            <tr>
                                <td>{{invited.name}}</td>
                                <td>{{invited.lastName}}</td>
                                <td>@{{invited.user}}</td>
                                <td>{{#if receptor.dataValues.message}}{{receptor.dataValues.message}}{{else}}unanswered
                                    {{/if}}</td>
                                <td>

                                    <a type="submit" class="btn btn-danger"
                                        onclick="DeleteConfirm({{receptor.dataValues.receptorId}}+'/'+{{receptor.dataValues.eventId}}+'/'+{{../../user.id}}, 'invited', 'Are you sure you want to remove this guest', 'Guest successfully deleted')"><i
                                            class='fa-solid fa-trash-can'></i> </a>

                                </td>
                                </td>
                            </tr>
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>